.App {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #e66465, #e66790, #d675b6, #b887d4, #9198e5);

}

.App-content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

